*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

div{
  border: 1px solid black;
}

.container{
  width: 800px;
  margin: auto;
  display: flex;
}

.container div{
  flex: 1;
  text-align: center;
}

.ulBox li{
  list-style-type: none;
}

.tableBox table{
  width: 100%;
  border: 1px solid black;
}

img{
  width: 100%;
}